[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol
[submodule "public"]
	path = public
	url = git@github.com:youngjoon-lee/youngjoon-lee.github.io.git
	branch = master
